@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root{
    --color_background:#090311;
    --grey: #ebebeb;
    --red: #c90808;

}

body{
    background-color:var(--color_background);
    color: var(--grey);
    text-align: center;
    font-family: 'Jersey 10';
}

h1 span{
  color: var(--red);  
}

#days-remaining{
    color: var(--red);
    font-size: 50px;
}

span ::before {
    border-right: 11px solid #fff;
    white-space: nowrap;

    overflow: hidden;
}