@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root{
    --color_background:#090311;
    --grey: #ebebeb;
    --red: #c90808;

}

body{
    background-color:var(--color_background);
    color: var(--grey);
    text-align: center;
    font-family: 'Jersey 10';
}

h1 span{
  color: var(--red);  
}

#days-remaining{
    color: var(--red);
    font-size: 50px;
}

 h1 span{
    border-right: 3px solid #61375f;
    white-space: nowrap;
    overflow: hidden;
    width: 5ch;
    animation: mark .5s step-end infinite, write 3s steps(5, step-end) infinite;

}

@keyframes mark{
    50%{
        border-right-color: transparent;
    }
}

@keyframes write{
    0%{
        width: 0;
    }
}